{
  "openapi": "3.1.0",
  "info": {
    "title": "ABLITERATED.cloud public documentation",
    "version": "0.12.0",
    "description": "Read-only website documents for private on-demand evaluation on Vast.ai with llama.cpp. No public inference, model catalog, wake route, live MCP or OAuth service. The status endpoint is a dated snapshot, not a health API.",
    "license": {
      "name": "MIT \u2014 project-owned documentation/code only",
      "identifier": "MIT"
    }
  },
  "servers": [
    {
      "url": "https://abliterated.cloud",
      "description": "Public static documentation only; not an inference server"
    }
  ],
  "security": [],
  "paths": {
    "/index.md": {
      "get": {
        "operationId": "readProjectOverview",
        "summary": "Project overview in Markdown",
        "responses": {
          "200": {
            "description": "Project overview in Markdown",
            "content": {
              "text/markdown": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/.well-known/project-status.json": {
      "get": {
        "operationId": "readDatedStatusSnapshot",
        "summary": "Dated operator audit; not live availability",
        "responses": {
          "200": {
            "description": "Dated operator audit; not live availability",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          }
        }
      }
    },
    "/blog/posts.json": {
      "get": {
        "operationId": "readEditorialArchiveIndex",
        "summary": "Historical editorial metadata; not available models or current prices",
        "responses": {
          "200": {
            "description": "Historical editorial metadata; not available models or current prices",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object"
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "externalDocs": {
    "url": "https://github.com/eminogrande/ai-uncensored-abliterated-cloud",
    "description": "Current Vast operating documentation; upstream/model licenses unchanged"
  },
  "x-public-inference": false,
  "x-public-mcp": false
}
